
@use "../../style.css";


.projects {
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
   
}

.projects-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    gap: 50px;

    box-shadow: 1px 1px 25px 0 #b8b5ff, 1px 6px 2px 0 rgb(182, 182, 182);
    border-radius: 25px;
    margin-top: 76px;

  }
  
  .project-image {
    width: 100%;
    height: 250px; /* Limite la hauteur de l'image */
    object-fit: cover; /* Ajuste l'image pour remplir sans la déformer */
    border-radius: 10px 10px 0 0; /* Coins arrondis en haut */
    z-index: 2; /* Assure que l'image est visible au-dessus de l'ombre */
    margin-top: -60px;
  }
  .projects-title{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    color: var(--color-text);
    align-items: center;
    margin-left: 40%;
    











    }
  






    .project-card {
        width: 330px;
        height: 400px;
        position: relative;
        overflow: hidden; /* Empêche le débordement */
        border-radius: 10px; /* Coins arrondis */
        
        

        background: linear-gradient(135deg,#19376d,  #3b5998); /* Dégradé de bleu */
        display: flex;
        justify-content: center; /* Centre le contenu verticalement */
        align-items: center; /* Centre le contenu horizontalement */
        color: white; /* Texte en blanc */
        text-align: center; /* Centre le texte */
        padding: 10px; /* Ajoute un peu d'espace autour du texte */
        cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
    





        transition: transform 0.3s ease; /* Transition au survol */
      
        &:hover {
          transform: translateY(-5px); /* Légère élévation au survol */
        }
      
        /* Ombre noire sur l'image */
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(25, 55, 109, 0.8); /* Ombre semi-transparente bleu foncé */
          
          
          
          z-index: 1; /* Assure que l'ombre est au-dessus de l'image */
          transition: background-color 0.3s ease; /* Transition au survol */
        }
      
        &:hover::before {
          background-color: rgba(0, 0, 0, 0.6); /* Renforce l'ombre au survol */
            
        }

  
        
    
    
  }
  .project-title-name {
  





    width: 100%;
    text-align: center; /* Centre le texte */
    color: white;
    padding: 40px;
    z-index: 2;
    font-size: 18px;
    font-weight: 600;
    position: absolute; /* Positionnement en bas */
    bottom: 0; /* Fixe au bas de la carte */
    border-radius: 0 0 10px 10px; /* Coins arrondis en bas */












}


  @media (max-width : 768px) {
    .projects-container {
        flex-direction: column;
        margin-left: 40px;
    }

    .project-card{
        margin: 40px;
    }
  }








